src/flows/Add_Cover_Tutor.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_Choice</name>
        <label>Assign Choice</label>
        <locationX>1038</locationX>
        <locationY>66</locationY>
        <assignmentItems>
            <assignToReference>CoverTutorEngagementId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Select_Tutor_to_Cover_Session</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Attendance_for_Cover_Tutor</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>AlreadyPartOfCohort</name>
        <choiceText>is already part of this Cohort (in list above)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>AlreadyPartOfCohort</stringValue>
        </value>
    </choices>
    <choices>
        <name>NewEngagement</name>
        <choiceText>does not belong to this Cohort (not in list above)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NewEngagement</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Already_Has_Attendance</name>
        <label>Already Has Attendance</label>
        <locationX>1195</locationX>
        <locationY>219</locationY>
        <defaultConnector>
            <targetReference>Replace_Tutor_on_Tutor_Attendance</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesHasAttendance</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ExistingTutorEngagementAttendanceId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Absent_Tutor_Attendance</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tutor_Already_part_Of_Cohort</name>
        <label>Tutor Already part Of Cohort</label>
        <locationX>706</locationX>
        <locationY>71</locationY>
        <defaultConnector>
            <targetReference>Payment_Amounts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Cover_Tutor_Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>AlreadyPartOfCohort</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_Existing_Engagement_to_be_Cover</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>With Payment screen</description>
    <dynamicChoiceSets>
        <name>CurrentTutorEngagements</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>Cohort__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CohortId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Tutor</stringValue>
            </value>
        </filters>
        <object>Engagement__c</object>
        <outputAssignments>
            <assignToReference>ReplacedTutorId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CurrentTutorEngagementsWithoutAbsentTutor</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>Cohort__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CohortId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>ReplacedTutorId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Tutor</stringValue>
            </value>
        </filters>
        <object>Engagement__c</object>
        <outputAssignments>
            <assignToReference>CoverTutorEngagementId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Add Cover Tutor {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add Cover Tutor</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_New_Tutor_Engagement</name>
        <label>Create New Tutor Engagement</label>
        <locationX>870</locationX>
        <locationY>243</locationY>
        <assignRecordIdToReference>CoverTutorEngagementId</assignRecordIdToReference>
        <connector>
            <targetReference>Replace_Tutor_on_Tutor_Attendance</targetReference>
        </connector>
        <inputAssignments>
            <field>Cohort__c</field>
            <value>
                <elementReference>CohortId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactTimeHourlyPayRate__c</field>
            <value>
                <elementReference>ContactTimeHourlyPayRate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CoverTutor__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EngagementStatus__c</field>
            <value>
                <stringValue>Accepted</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NonContactHourlyPayRate__c</field>
            <value>
                <elementReference>Non_Contact_Hourly_Pay_Rate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NonContactTimePerSessionhours__c</field>
            <value>
                <elementReference>Non_Contact_Time_Per_Session_hours</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>TutorRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tutor__c</field>
            <value>
                <elementReference>CoverTutorContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Engagement__c</object>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Absent_Tutor_Attendance</name>
        <label>Delete Absent Tutor Attendance</label>
        <locationX>1204</locationX>
        <locationY>411</locationY>
        <connector>
            <targetReference>Replace_Tutor_on_Pupil_Attendance</targetReference>
        </connector>
        <filters>
            <field>Engagement__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ReplacedTutorId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Tutor</stringValue>
            </value>
        </filters>
        <filters>
            <field>Session__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Attendance__c</object>
    </recordDeletes>
    <recordLookups>
        <description>This will be used to determine whether a new Attendance should be created or not</description>
        <name>Get_Attendance_for_Cover_Tutor</name>
        <label>Get Attendance for Cover Tutor</label>
        <locationX>1200</locationX>
        <locationY>68</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Already_Has_Attendance</targetReference>
        </connector>
        <filters>
            <field>Engagement__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CoverTutorEngagementId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Session__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Attendance__c</object>
        <outputAssignments>
            <assignToReference>ExistingTutorEngagementAttendanceId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Original_Tutor_Engagement</name>
        <label>Get Original Tutor Engagement</label>
        <locationX>596</locationX>
        <locationY>210</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Tutor_Already_part_Of_Cohort</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Select_Tutor_that_needs_to_be_covered_for_this_session</elementReference>
            </value>
        </filters>
        <object>Engagement__c</object>
        <outputAssignments>
            <assignToReference>varContactTimeHourlyPayRate</assignToReference>
            <field>ContactTimeHourlyPayRate__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varNonContactTimeHourlyPayRate</assignToReference>
            <field>NonContactHourlyPayRate__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varNonContactTimePerSession</assignToReference>
            <field>NonContactTimePerSessionhours__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Session</name>
        <label>Get Session</label>
        <locationX>436</locationX>
        <locationY>68</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_Tutor_to_be_Replaced</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Session__c</object>
        <outputAssignments>
            <assignToReference>CohortId</assignToReference>
            <field>Cohort__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Tutor_Record_Type</name>
        <label>Get Tutor Record Type</label>
        <locationX>798</locationX>
        <locationY>413</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_New_Tutor_Engagement</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Tutor</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Engagement__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>TutorRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Replace_Tutor_on_Pupil_Attendance</name>
        <label>Replace Tutor on Pupil Attendance</label>
        <locationX>1091</locationX>
        <locationY>516</locationY>
        <filters>
            <field>Session__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Tutor__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ReplacedTutorId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Tutor__c</field>
            <value>
                <elementReference>CoverTutorEngagementId</elementReference>
            </value>
        </inputAssignments>
        <object>Attendance__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Replace_Tutor_on_Tutor_Attendance</name>
        <label>Replace Tutor on Tutor Attendance</label>
        <locationX>1015</locationX>
        <locationY>243</locationY>
        <connector>
            <targetReference>Replace_Tutor_on_Pupil_Attendance</targetReference>
        </connector>
        <filters>
            <field>Engagement__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ReplacedTutorId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Session__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Engagement__c</field>
            <value>
                <elementReference>CoverTutorEngagementId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tutor__c</field>
            <value>
                <elementReference>CoverTutorEngagementId</elementReference>
            </value>
        </inputAssignments>
        <object>Attendance__c</object>
    </recordUpdates>
    <screens>
        <name>Payment_Amounts</name>
        <label>Payment Amounts</label>
        <locationX>714</locationX>
        <locationY>283</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Tutor_Record_Type</targetReference>
        </connector>
        <fields>
            <name>PaymentAmounts</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Payment Amounts&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ContactTimeHourlyPayRate</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>varContactTimeHourlyPayRate</elementReference>
            </defaultValue>
            <fieldText>Contact Time Hourly Pay Rate</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Non_Contact_Hourly_Pay_Rate</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>varNonContactTimeHourlyPayRate</elementReference>
            </defaultValue>
            <fieldText>Non-Contact Hourly Pay Rate</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Non_Contact_Time_Per_Session_hours</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>varNonContactTimePerSession</elementReference>
            </defaultValue>
            <fieldText>Non-Contact Time Per Session (hours)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Existing_Engagement_to_be_Cover</name>
        <label>Select Existing Engagement to be Cover</label>
        <locationX>870</locationX>
        <locationY>68</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Choice</targetReference>
        </connector>
        <fields>
            <name>Select_Tutor_to_Cover_Session</name>
            <choiceReferences>CurrentTutorEngagementsWithoutAbsentTutor</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Tutor to Cover Session for {!Select_Tutor_that_needs_to_be_covered_for_this_session}</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Payment</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Payment Amounts&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Tutor_to_be_Replaced</name>
        <label>Select Tutor to be Replaced</label>
        <locationX>535</locationX>
        <locationY>68</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Original_Tutor_Engagement</targetReference>
        </connector>
        <fields>
            <name>AbsentTutor</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Absent Tutor:&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Select_Tutor_that_needs_to_be_covered_for_this_session</name>
            <choiceReferences>CurrentTutorEngagements</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Tutor that needs to be covered for this Session</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>CoverTutorDisplay</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Cover Tutor:&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Cover_Tutor_Status</name>
            <choiceReferences>AlreadyPartOfCohort</choiceReferences>
            <choiceReferences>NewEngagement</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>NewEngagement</defaultSelectedChoiceReference>
            <fieldText>Cover Tutor...</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>LookupTutorContact</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Tutor__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Cover Tutor Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Engagement__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>CoverTutorContactId</assignToReference>
                <name>recordId</name>
            </outputParameters>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Cover_Tutor_Status</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>NewEngagement</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <helpText>&lt;p&gt;If not ticked you will need to create a new Tutor engagement as part of the next step. &lt;/p&gt;</helpText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>63</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Session</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CohortId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CoverTutorContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CoverTutorEngagementId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ExistingTutorEngagementAttendanceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ReplacedTutorId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TutorRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varContactTimeHourlyPayRate</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varNonContactTimeHourlyPayRate</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varNonContactTimePerSession</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
