src/flows/Convert_Assignments_to_Opportunities.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Opportunity_Found</name>
        <label>Opportunity Found?</label>
        <locationX>481</locationX>
        <locationY>389</locationY>
        <defaultConnector>
            <targetReference>Get_Opp_Record_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpportunityID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Cohort</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>Convert Assignments to Opportunities {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Convert Assignments to Opportunities</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Opportunity</name>
        <label>Create Opportunity</label>
        <locationX>839</locationX>
        <locationY>387</locationY>
        <assignRecordIdToReference>OpportunityID</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Cohort</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Assignment.School__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AssignmentID__c</field>
            <value>
                <elementReference>Get_Assignment.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Autumn_Half_Term_End__c</field>
            <value>
                <elementReference>Get_Assignment.AutumnHalfTermEnd__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Autumn_Half_Term_Start__c</field>
            <value>
                <elementReference>Get_Assignment.AutumnHalfTermStart__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Autumn_Term_End__c</field>
            <value>
                <elementReference>Get_Assignment.AutumnTermEnd__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Autumn_Term_Start__c</field>
            <value>
                <elementReference>Get_Assignment.AutumnHalfTermStart__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>Get_Assignment.StartDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDate__c</field>
            <value>
                <elementReference>Get_Assignment.EndDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HoursPurchased__c</field>
            <value>
                <elementReference>Get_Assignment.HoursPurchased__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Auto-Created</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Opp_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Spring_Half_Term_End__c</field>
            <value>
                <elementReference>Get_Assignment.SpringHalfTermEnd__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Spring_Half_Term_Start__c</field>
            <value>
                <elementReference>Get_Assignment.SpringHalfTermStart__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Spring_Term_End__c</field>
            <value>
                <elementReference>Get_Assignment.SpringTermEnd__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Spring_Term_Start__c</field>
            <value>
                <elementReference>Get_Assignment.SpringTermStart__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate__c</field>
            <value>
                <elementReference>Get_Assignment.StartDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Summer_Half_Term_End__c</field>
            <value>
                <elementReference>Get_Assignment.SummerHalfTermEnd__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Summer_Half_Term_Start__c</field>
            <value>
                <elementReference>Get_Assignment.SummerHalfTermStart__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Summer_Term_End__c</field>
            <value>
                <elementReference>Get_Assignment.SummerTermEnd__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Summer_Term_Start__c</field>
            <value>
                <elementReference>Get_Assignment.SummerTermStart__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Assignment</name>
        <label>Get Assignment</label>
        <locationX>319</locationX>
        <locationY>197</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Search_Opportunities</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Cohorts.Assignment__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Assignment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Cohorts</name>
        <label>Get Cohorts</label>
        <locationX>177</locationX>
        <locationY>197</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Assignment</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CohortID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Cohort__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Assignment__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opp_Record_Type</name>
        <label>Get Opp Record Type</label>
        <locationX>703</locationX>
        <locationY>388</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Opportunity</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Assignment</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Search_Opportunities</name>
        <label>Search Opportunities</label>
        <locationX>489</locationX>
        <locationY>197</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Opportunity_Found</targetReference>
        </connector>
        <filters>
            <field>AssignmentID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Assignment.Id</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>OpportunityID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Cohort</name>
        <label>Update Cohort</label>
        <locationX>745</locationX>
        <locationY>580</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CohortID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>OpportunityID</elementReference>
            </value>
        </inputAssignments>
        <object>Cohort__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Cohorts</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AssignmentID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CohortID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OpportunityID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
