src/flows/NewBidEngagement.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>AlreadyHasEngagement</name>
        <label>AlreadyHasEngagement</label>
        <locationX>168</locationX>
        <locationY>585</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AlreadyHas</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ExistingEngagementId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Already_Applied</targetReference>
            </connector>
            <label>AlreadyHas</label>
        </rules>
    </decisions>
    <description>Used to create Bid Engagements against positions. Now pulls payment amounts from Position record onto Engagement.</description>
    <formulas>
        <name>CurrentUserContactId</name>
        <dataType>String</dataType>
        <expression>{!$User.ContactId}</expression>
    </formulas>
    <formulas>
        <name>UserId</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>CreateNewBidEngagement {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Apply for a Tutoring Position</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Engagement</name>
        <label>Create Engagement</label>
        <locationX>584</locationX>
        <locationY>207</locationY>
        <connector>
            <targetReference>Success</targetReference>
        </connector>
        <inputAssignments>
            <field>Cohort__c</field>
            <value>
                <elementReference>CohortId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactTimeHourlyPayRate__c</field>
            <value>
                <elementReference>ContactPayPosition</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EngagementStatus__c</field>
            <value>
                <stringValue>Bid</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NonContactHourlyPayRate__c</field>
            <value>
                <elementReference>NonContactPayPosition</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NonContactTimePerSessionhours__c</field>
            <value>
                <elementReference>NonContactTimeHours</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Position__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>TutorRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TutorApplicationNote__c</field>
            <value>
                <elementReference>ApplicationNotes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tutor__c</field>
            <value>
                <elementReference>TutorContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Engagement__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Engagements</name>
        <label>Get Engagements</label>
        <locationX>176</locationX>
        <locationY>354</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filters>
            <field>Position__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Tutor__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentUserContactId</elementReference>
            </value>
        </filters>
        <object>Engagement__c</object>
        <outputAssignments>
            <assignToReference>ExistingEngagementId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Position</name>
        <label>Get Position</label>
        <locationX>176</locationX>
        <locationY>207</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Engagements</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Position__c</object>
        <outputAssignments>
            <assignToReference>CohortId</assignToReference>
            <field>Cohort__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ContactPayPosition</assignToReference>
            <field>ContactTimePay__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>NonContactPayPosition</assignToReference>
            <field>NonContactPay__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>NonContactTimeHours</assignToReference>
            <field>NonContactTimehours__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Tutor_Contact</name>
        <label>Get Tutor Contact</label>
        <locationX>441</locationX>
        <locationY>207</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Tutor_Record_Type</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentUserContactId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>TutorContactId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Tutor_Record_Type</name>
        <label>Get Tutor Record Type</label>
        <locationX>511</locationX>
        <locationY>361</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Engagement</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Tutor</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Engagement__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>TutorRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Already_Applied</name>
        <label>Already Applied</label>
        <locationX>524</locationX>
        <locationY>581</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>AlreadyAppliedText</name>
            <fieldText>&lt;p&gt;You have already applied for this Position&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ApplicationNotesScreen</name>
        <label>Application Notes</label>
        <locationX>301</locationX>
        <locationY>207</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Tutor_Contact</targetReference>
        </connector>
        <fields>
            <name>ApplicationNotes</name>
            <fieldText>Application Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>&lt;p&gt;If you would like to provide any extra information for Tutor Trust to be aware of when reviewing your application please provide here&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success</name>
        <label>Success</label>
        <locationX>728</locationX>
        <locationY>207</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ThankyouText</name>
            <fieldText>&lt;p&gt;Thank you, your application for this position will be reviewed and we will be in touch.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Position</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>CohortId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactPayPosition</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>ExistingEngagementId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NonContactPayPosition</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>NonContactTimeHours</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TutorContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TutorRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
