dist/flows/CancelledInvoice.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>CheckStatusIsCancelled</name>
        <label>Check Status Is Cancelled</label>
        <locationX>169</locationX>
        <locationY>337</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsCancelled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateNewInvoiceClone</targetReference>
            </connector>
            <label>Is Cancelled</label>
        </rules>
    </decisions>
    <description>Clones invoice if cancelled and issues a new one with same payments attached.</description>
    <interviewLabel>Cancelled Invoice {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Cancelled Invoice</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateNewInvoiceClone</name>
        <label>Create New Invoice Clone</label>
        <locationX>368</locationX>
        <locationY>336</locationY>
        <connector>
            <targetReference>ChangeTotalOnCancelledRecord</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountFunder__c</field>
            <value>
                <elementReference>$Record.AccountFunder__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ActualInvoiceDate__c</field>
            <value>
                <elementReference>$Record.ActualInvoiceDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cohort__c</field>
            <value>
                <elementReference>$Record.Cohort__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InvoiceDate__c</field>
            <value>
                <elementReference>$Record.InvoiceDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InvoicePeriodStarting__c</field>
            <value>
                <elementReference>$Record.InvoicePeriodStarting__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notes__c</field>
            <value>
                <elementReference>$Record.Notes__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>$Record.RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ScheduledDate__c</field>
            <value>
                <elementReference>$Record.ScheduledDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ScheduledSendDate__c</field>
            <value>
                <elementReference>$Record.ScheduledSendDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>School__c</field>
            <value>
                <elementReference>$Record.School__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TutorEngagement__c</field>
            <value>
                <elementReference>$Record.TutorEngagement__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tutor__c</field>
            <value>
                <elementReference>$Record.Tutor__c</elementReference>
            </value>
        </inputAssignments>
        <object>Invoice__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>ChangeTotalOnCancelledRecord</name>
        <label>Change total on cancelled record</label>
        <locationX>515</locationX>
        <locationY>335</locationY>
        <connector>
            <targetReference>UpdatePaymentValue</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CancelledInvoiceTotal__c</field>
            <value>
                <elementReference>$Record.InvoiceTotal__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NewInvoice__c</field>
            <value>
                <elementReference>CreateNewInvoiceClone</elementReference>
            </value>
        </inputAssignments>
        <object>Invoice__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdatePaymentValue</name>
        <label>UpdatePaymentValue</label>
        <locationX>663</locationX>
        <locationY>335</locationY>
        <filters>
            <field>Invoice__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Invoice__c</field>
            <value>
                <elementReference>CreateNewInvoiceClone</elementReference>
            </value>
        </inputAssignments>
        <object>npe01__OppPayment__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>CheckStatusIsCancelled</targetReference>
        </connector>
        <object>Invoice__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
