dist/flows/RelatePaymentsToInvoices.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Existing_Invoice</name>
        <label>Existing Invoice</label>
        <locationX>832</locationX>
        <locationY>277</locationY>
        <defaultConnector>
            <targetReference>Update_Payment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Invoice_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SchoolChargeInvoiceId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Invoice</targetReference>
            </connector>
            <label>No Invoice Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existing_Invoice_0</name>
        <label>Existing Invoice</label>
        <locationX>680</locationX>
        <locationY>490</locationY>
        <defaultConnector>
            <targetReference>Update_Payment_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Invoice_Found_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TutorPayInvoiceId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_TutorPay_Invoice</targetReference>
            </connector>
            <label>No Invoice Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Payment_Type</name>
        <label>Payment Type</label>
        <locationX>514</locationX>
        <locationY>281</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Incoming</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>IncomingRecordTypeId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_School_Charge_Invoice</targetReference>
            </connector>
            <label>Incoming</label>
        </rules>
        <rules>
            <name>Outgoing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>OutgoingRecordTypeId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Tutor_Pay_Invoice</targetReference>
            </connector>
            <label>Outgoing</label>
        </rules>
    </decisions>
    <formulas>
        <name>CalcInvoiceDate</name>
        <dataType>Date</dataType>
        <expression>IF( MONTH( ADDMONTHS({!$Record.npe01__Scheduled_Date__c},1) ) = 12, 
DATE( YEAR({!$Record.npe01__Scheduled_Date__c} ), 12, 31 ), 
DATE( YEAR( ADDMONTHS({!$Record.npe01__Scheduled_Date__c},1) ), MONTH( ADDMONTHS({!$Record.npe01__Scheduled_Date__c},1) ) + 1, 1) - 1)</expression>
    </formulas>
    <formulas>
        <name>CalcScheduledDate</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR({!CalcSchoolScheduledSendDate}),MONTH({!CalcSchoolScheduledSendDate}),15)</expression>
    </formulas>
    <formulas>
        <name>CalcSchoolScheduledSendDate</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR(ADDMONTHS({!$Record.npe01__Scheduled_Date__c},1)),MONTH(ADDMONTHS({!$Record.npe01__Scheduled_Date__c},1)),01)</expression>
    </formulas>
    <formulas>
        <name>PaymentYear</name>
        <dataType>Number</dataType>
        <expression>YEAR({!$Record.npe01__Scheduled_Date__c})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>SchoolInvoiceName</name>
        <dataType>String</dataType>
        <expression>{!$Record.FunderName__c} &amp; &quot;: &quot; &amp; {!$Record.PaymentMonth__c} &amp; &quot; &quot; &amp; TEXT(YEAR({!$Record.npe01__Scheduled_Date__c}))</expression>
    </formulas>
    <formulas>
        <name>TutorInvoiceName</name>
        <dataType>String</dataType>
        <expression>{!$Record.ContactName__c} &amp; &quot; &quot; &amp; {!$Record.PaymentMonth__c} &amp; &quot; &quot; &amp; ({!$Record.PaymentYear__c})</expression>
    </formulas>
    <interviewLabel>Relate Payments to Invoices {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Relate Payments to Invoices</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Invoice</name>
        <label>Create Invoice</label>
        <locationX>980</locationX>
        <locationY>108</locationY>
        <assignRecordIdToReference>SchoolChargeInvoiceId</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Payment</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountFunder__c</field>
            <value>
                <elementReference>$Record.Funder__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InvoiceDate__c</field>
            <value>
                <elementReference>CalcInvoiceDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>SchoolInvoiceName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>SchoolChargeRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ScheduledDate__c</field>
            <value>
                <elementReference>CalcScheduledDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ScheduledSendDate__c</field>
            <value>
                <elementReference>CalcSchoolScheduledSendDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>School__c</field>
            <value>
                <elementReference>$Record.AccountId__c</elementReference>
            </value>
        </inputAssignments>
        <object>Invoice__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_TutorPay_Invoice</name>
        <label>Create Invoice</label>
        <locationX>904</locationX>
        <locationY>488</locationY>
        <assignRecordIdToReference>TutorPayInvoiceId</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Payment_0</targetReference>
        </connector>
        <inputAssignments>
            <field>InvoiceDate__c</field>
            <value>
                <elementReference>CalcInvoiceDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>TutorInvoiceName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>$Record.npe01__Opportunity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>TutorPayRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ScheduledDate__c</field>
            <value>
                <elementReference>$Record.npe01__Scheduled_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ScheduledSendDate__c</field>
            <value>
                <elementReference>CalcScheduledDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tutor__c</field>
            <value>
                <elementReference>$Record.TutorContactId__c</elementReference>
            </value>
        </inputAssignments>
        <object>Invoice__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Incoming_Record_Type_Id</name>
        <label>Get Incoming Record Type Id</label>
        <locationX>323</locationX>
        <locationY>279</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Payment_Type</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Incoming</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>npe01__OppPayment__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>IncomingRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Outgoing_Record_Type_Id</name>
        <label>Get Outgoing Record Type Id</label>
        <locationX>176</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_School_Charge_Record_Type</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Outgoing</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>npe01__OppPayment__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>OutgoingRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_School_Charge_Invoice</name>
        <label>Get School Charge Invoice</label>
        <locationX>694</locationX>
        <locationY>275</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existing_Invoice</targetReference>
        </connector>
        <filters>
            <field>AccountFunder__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Funder__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>InvoiceMonthNum__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.PaymentMonthNum__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>InvoiceYear__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PaymentYear</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SchoolChargeRecordTypeId</elementReference>
            </value>
        </filters>
        <object>Invoice__c</object>
        <outputAssignments>
            <assignToReference>SchoolChargeInvoiceId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_School_Charge_Record_Type</name>
        <label>Get School Charge Record Type</label>
        <locationX>175</locationX>
        <locationY>438</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Tutor_Pay_Record_Type</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SchoolCharge</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Invoice__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>SchoolChargeRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Tutor_Pay_Invoice</name>
        <label>Get Tutor Pay Invoice</label>
        <locationX>521</locationX>
        <locationY>488</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existing_Invoice_0</targetReference>
        </connector>
        <filters>
            <field>InvoiceMonthNum__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.PaymentMonthNum__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>InvoiceYear__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PaymentYear</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TutorPayRecordTypeId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Tutor__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.TutorContactId__c</elementReference>
            </value>
        </filters>
        <object>Invoice__c</object>
        <outputAssignments>
            <assignToReference>TutorPayInvoiceId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Tutor_Pay_Record_Type</name>
        <label>Get Tutor Pay Record Type</label>
        <locationX>323</locationX>
        <locationY>438</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Incoming_Record_Type_Id</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>TutorPay</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Invoice__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>TutorPayRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Payment</name>
        <label>Update Payment</label>
        <locationX>841</locationX>
        <locationY>108</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Invoice__c</field>
            <value>
                <elementReference>SchoolChargeInvoiceId</elementReference>
            </value>
        </inputAssignments>
        <object>npe01__OppPayment__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Payment_0</name>
        <label>Update Payment</label>
        <locationX>805</locationX>
        <locationY>681</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Invoice__c</field>
            <value>
                <elementReference>TutorPayInvoiceId</elementReference>
            </value>
        </inputAssignments>
        <object>npe01__OppPayment__c</object>
    </recordUpdates>
    <start>
        <locationX>49</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Outgoing_Record_Type_Id</targetReference>
        </connector>
        <filters>
            <field>CreatedinlastDay__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Invoice__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>npe01__OppPayment__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2020-07-31</startDate>
            <startTime>12:15:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>IncomingRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OutgoingRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SchoolChargeInvoiceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SchoolChargeRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TutorPayInvoiceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TutorPayRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
