dist/flows/Relate_Create_School_Payments.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Populate_Payment_Month</name>
        <label>Populate Payment Month</label>
        <locationX>183</locationX>
        <locationY>481</locationY>
        <assignmentItems>
            <assignToReference>PaymentMonth</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Attendance.SchoolPaymentMonthNum__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Payment</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Existing_Payment</name>
        <label>Existing Payment?</label>
        <locationX>443</locationX>
        <locationY>300</locationY>
        <defaultConnector>
            <targetReference>Get_Cohort</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ExistingPayment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PaymentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>InvoiceSentDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RelatePayment</targetReference>
            </connector>
            <label>Existing Unsent Payment</label>
        </rules>
        <rules>
            <name>Existing_Sent_Payment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PaymentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>InvoiceSentDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Attendance</targetReference>
            </connector>
            <label>Existing Sent Payment</label>
        </rules>
    </decisions>
    <formulas>
        <name>calcInvoiceDate</name>
        <dataType>Date</dataType>
        <expression>IF(
  MONTH( {!Get_Attendance.SessionDate__c} ) = 12,
  DATE( YEAR( {!Get_Attendance.SessionDate__c}  ), 12, 31 ),
  DATE( YEAR( {!Get_Attendance.SessionDate__c}  ), MONTH ( {!Get_Attendance.SessionDate__c}  ) + 1, 1 ) - 1 
)</expression>
    </formulas>
    <formulas>
        <name>calcScheduledDate</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR({!SessionDateAddMonth}),MONTH({!SessionDateAddMonth}),01)</expression>
    </formulas>
    <formulas>
        <name>SessionDateAddMonth</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS({!Get_Attendance.SessionDate__c},1)</expression>
    </formulas>
    <interviewLabel>Relate/Create School Payments {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Relate/Create School Payments</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Payment</name>
        <label>Create Payment</label>
        <locationX>719</locationX>
        <locationY>494</locationY>
        <assignRecordIdToReference>PaymentId</assignRecordIdToReference>
        <connector>
            <targetReference>RelatePayment</targetReference>
        </connector>
        <inputAssignments>
            <field>Cohort__c</field>
            <value>
                <elementReference>Get_Attendance.CohortId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Funder__c</field>
            <value>
                <elementReference>Get_Attendance.FunderId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InvoiceDate__c</field>
            <value>
                <elementReference>calcInvoiceDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PaymentFor__c</field>
            <value>
                <stringValue>Tutoring</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>PaymentIncomingRecordType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SchoolChargePerTutoringHour__c</field>
            <value>
                <elementReference>Get_Attendance.SchoolChargePerTutoringHour__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>School__c</field>
            <value>
                <elementReference>SchoolId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__Opportunity__c</field>
            <value>
                <elementReference>Get_Attendance.OpportunityId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__Scheduled_Date__c</field>
            <value>
                <elementReference>calcScheduledDate</elementReference>
            </value>
        </inputAssignments>
        <object>npe01__OppPayment__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Attendance</name>
        <label>Get Attendance</label>
        <locationX>215</locationX>
        <locationY>232</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Incoming_Payment_RT</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TutorAttendancerecordType</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Attendance__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Cohort</name>
        <label>Get Cohort</label>
        <locationX>453</locationX>
        <locationY>494</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Payment</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Attendance.CohortId__c</elementReference>
            </value>
        </filters>
        <object>Cohort__c</object>
        <outputAssignments>
            <assignToReference>SchoolId</assignToReference>
            <field>SchoolID__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Incoming_Payment_RT</name>
        <label>Get Incoming Payment RT</label>
        <locationX>85</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Populate_Payment_Month</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Incoming</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>npe01__OppPayment__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>PaymentIncomingRecordType</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Payment</name>
        <label>Get Payment</label>
        <locationX>306</locationX>
        <locationY>298</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existing_Payment</targetReference>
        </connector>
        <filters>
            <field>Cohort__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Attendance.CohortId__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>PaymentMonthNum__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PaymentMonth</elementReference>
            </value>
        </filters>
        <filters>
            <field>PaymentYear__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Attendance.SchoolPaymentYear__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PaymentIncomingRecordType</elementReference>
            </value>
        </filters>
        <filters>
            <field>npe01__Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Attendance.OpportunityId__c</elementReference>
            </value>
        </filters>
        <object>npe01__OppPayment__c</object>
        <outputAssignments>
            <assignToReference>PaymentId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>InvoiceSentDate</assignToReference>
            <field>InvoiceSent__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Tutor_Attendance_Record_Type</name>
        <label>Get Tutor Attendance Record Type</label>
        <locationX>80</locationX>
        <locationY>172</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Attendance</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Tutor</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Attendance__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>TutorAttendancerecordType</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>RelatePayment</name>
        <label>Relate Payment</label>
        <locationX>717</locationX>
        <locationY>299</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Attendance.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SchoolPayment__c</field>
            <value>
                <elementReference>PaymentId</elementReference>
            </value>
        </inputAssignments>
        <object>Attendance__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Attendance</name>
        <label>Update Attendance as Not Found</label>
        <locationX>451</locationX>
        <locationY>52</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Attendance.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SchoolPaymentAlreadySent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Attendance__c</object>
    </recordUpdates>
    <start>
        <locationX>52</locationX>
        <locationY>23</locationY>
        <connector>
            <targetReference>Get_Tutor_Attendance_Record_Type</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>boolPaid</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InvoiceSentDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PaymentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PaymentIncomingRecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PaymentMonth</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SchoolId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TutorAttendancerecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
