dist/flows/Session_Group_Creation.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>Add_Pupil_Name_to_List</name>
        <label>Add Pupil Name to List</label>
        <locationX>683</locationX>
        <locationY>303</locationY>
        <assignmentItems>
            <assignToReference>PupilNames</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CurrentPupilName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedPupilIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CurrentPupilID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Pupils_to_Sessions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Tutor_ID_to_List</name>
        <label>Add Tutor ID to List</label>
        <locationX>683</locationX>
        <locationY>476</locationY>
        <assignmentItems>
            <assignToReference>AddedTutorIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CurrentYPRecordVariable.PupilsTutor__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Pupil_Name_to_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Tutor_Name_to_List</name>
        <label>Add Tutor Name to List</label>
        <locationX>869</locationX>
        <locationY>476</locationY>
        <assignmentItems>
            <assignToReference>TutorNames</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CurrentTutorName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Tutor_ID_to_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Current_Pupil_ID</name>
        <label>Assign Current Pupil ID</label>
        <locationX>1173</locationX>
        <locationY>59</locationY>
        <assignmentItems>
            <assignToReference>CurrentPupilID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Select_Pupil</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>No_further_pupils_to_add</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Current_Session_Values</name>
        <label>Assign Current Session Values</label>
        <locationX>1948</locationX>
        <locationY>882</locationY>
        <assignmentItems>
            <assignToReference>CurrentSession.EndDateTime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SessionEndDateTimeCalc</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentSession.Cohort__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CohortID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentSession.SessionDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FirstSessionDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentSession.StartDateTime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SessionStartTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentSession.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SessionID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentSession.SessionType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentSession.Tutor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Tutors</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Session_To_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Session_To_List</name>
        <label>Assign Session To List and Increment</label>
        <locationX>1640</locationX>
        <locationY>882</locationY>
        <assignmentItems>
            <assignToReference>SessionsToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CurrentSession</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SessionNumber</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AttendanceRecord.Session__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SessionID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AttendanceRecord.Pupil__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentPupilID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AttendanceRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetPupilRecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AttendanceRecord.Tutor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PupilsTutorID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Increment_Sessions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Record_Collection_Variable</name>
        <label>Assign YPs to Record Collection Variable</label>
        <locationX>1076</locationX>
        <locationY>443</locationY>
        <assignmentItems>
            <assignToReference>AllSelectedYPRecordVariable</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CurrentYPRecordVariable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Tutor_Already_Added</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_Sessions</name>
        <label>Increment Session Dates</label>
        <locationX>1640</locationX>
        <locationY>692</locationY>
        <assignmentItems>
            <assignToReference>FirstSessionDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Add7or14days</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SessionStartTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StartDateTimePlus7</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AfterCohortEnd</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Loop_Count</name>
        <label>Loop Count</label>
        <locationX>2540</locationX>
        <locationY>186</locationY>
        <assignmentItems>
            <assignToReference>LoopCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_YPs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>LoopCount2</name>
        <label>LoopCount2</label>
        <locationX>2148</locationX>
        <locationY>418</locationY>
        <assignmentItems>
            <assignToReference>LoopCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Tutor_Attendance_Created_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>LoopCountReset</name>
        <label>LoopCountReset</label>
        <locationX>2694</locationX>
        <locationY>799</locationY>
        <assignmentItems>
            <assignToReference>LoopCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Current_YP_Current_Tutors_Pupil</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_First_Session_Date_End_Time</name>
        <label>Set First Session Date &amp; End Time</label>
        <locationX>1428</locationX>
        <locationY>401</locationY>
        <assignmentItems>
            <assignToReference>FirstSessionDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SessionDateDateVar</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SessionEndTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SessionEndDateTimeCalc</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SessionStartTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SessionDateVar</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SessionStartTimeTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetStartTimeValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SessionNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AfterCohortEnd</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Tutor_Attendance_Created</name>
        <label>Tutor Attendance Created</label>
        <locationX>2713</locationX>
        <locationY>100</locationY>
        <assignmentItems>
            <assignToReference>TutorAttendanceCreated</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Count</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Tutor_Attendance_Created_0</name>
        <label>Tutor Attendance Not Created</label>
        <locationX>2156</locationX>
        <locationY>612</locationY>
        <assignmentItems>
            <assignToReference>TutorAttendanceCreated</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopTutors2</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Fortnightly</name>
        <choiceText>Fortnightly</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Fortnightly</stringValue>
        </value>
    </choices>
    <choices>
        <name>FrequencyOptions</name>
        <choiceText>Weekly</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Weekly</stringValue>
        </value>
    </choices>
    <choices>
        <name>NoFurtherPupils</name>
        <choiceText>No Further Pupils</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No Further Pupils</stringValue>
        </value>
    </choices>
    <choices>
        <name>Weekly</name>
        <choiceText>Weekly</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Weekly</stringValue>
        </value>
    </choices>
    <decisions>
        <name>AfterCohortEnd</name>
        <label>AfterCohortEnd?</label>
        <locationX>1610</locationX>
        <locationY>403</locationY>
        <defaultConnector>
            <targetReference>Loop_Tutors</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>WithinYear</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsDateBeyondSummerEndTerm</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Session_Number_Reached</targetReference>
            </connector>
            <label>WithinYear</label>
        </rules>
    </decisions>
    <decisions>
        <name>CohortTermDates</name>
        <label>Cohort Term Dates?</label>
        <locationX>400</locationX>
        <locationY>404</locationY>
        <defaultConnector>
            <targetReference>New_Session_Group</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Cohort_Term_Dates</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>HasCohortInfo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Current_Session_Current_Tutors</name>
        <label>Is Current Session Current Tutors?</label>
        <locationX>2345</locationX>
        <locationY>220</locationY>
        <defaultConnector>
            <targetReference>LoopTutors2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>it_is</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SessionLoopItem.Tutor__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>LoopTutors2</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_YPs</targetReference>
            </connector>
            <label>It is</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Current_YP_Current_Tutors_Pupil</name>
        <label>Is Current YP Current Tutors Pupil</label>
        <locationX>2707</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_YPs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Their_Tutor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopTutors2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>YPEngagementLoopItem.PupilsTutor__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Attendances</targetReference>
            </connector>
            <label>Is Their Tutor</label>
        </rules>
    </decisions>
    <decisions>
        <name>Loop_Count_Decison</name>
        <label>Loop Count?</label>
        <locationX>2499</locationX>
        <locationY>631</locationY>
        <defaultConnector>
            <targetReference>Is_Current_YP_Current_Tutors_Pupil</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X20</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>20.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PauseScreen</targetReference>
            </connector>
            <label>&gt;20</label>
        </rules>
    </decisions>
    <decisions>
        <name>No_further_pupils_to_add</name>
        <label>No further pupils to add?</label>
        <locationX>1353</locationX>
        <locationY>126</locationY>
        <defaultConnector>
            <targetReference>Lookup_All_Selected_YPs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_further</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentPupilID</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No Further Pupils</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Tutors</targetReference>
            </connector>
            <label>No further</label>
        </rules>
    </decisions>
    <decisions>
        <name>No_tutor_Attendance</name>
        <label>Attendance Exists?</label>
        <locationX>2865</locationX>
        <locationY>403</locationY>
        <defaultConnector>
            <targetReference>Create_Tutor_Attendances</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_it_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TutorAttendanceCreated</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Count</targetReference>
            </connector>
            <label>Yes it exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Reselected_Pupil</name>
        <label>Reselected Pupil</label>
        <locationX>976</locationX>
        <locationY>124</locationY>
        <defaultConnector>
            <targetReference>Assign_Current_Pupil_ID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Already_selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SelectedPupilIDs</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Select_Pupil</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Pupils_to_Sessions</targetReference>
            </connector>
            <label>Already selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Session_In_Half_Term</name>
        <label>Session In Half Term</label>
        <locationX>1938</locationX>
        <locationY>751</locationY>
        <defaultConnector>
            <targetReference>Increment_Sessions</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NotHalfTerm</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsDateAutumnHalf</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsDateSpringHalf</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsDateSummerHalf</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Current_Session_Values</targetReference>
            </connector>
            <label>NotHalfTerm</label>
        </rules>
    </decisions>
    <decisions>
        <name>Session_Number_Reached</name>
        <label>Session Number Reached</label>
        <locationX>1748</locationX>
        <locationY>476</locationY>
        <defaultConnector>
            <targetReference>WithinTermTime</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SessionNumber</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>NumberOfSessions</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Tutors</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tutor_Already_Added</name>
        <label>Tutor Already Added?</label>
        <locationX>991</locationX>
        <locationY>312</locationY>
        <defaultConnector>
            <targetReference>Add_Tutor_Name_to_List</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Tutor_Added</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AddedTutorIds</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>CurrentYPRecordVariable.PupilsTutor__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Pupil_Name_to_List</targetReference>
            </connector>
            <label>Tutor Added</label>
        </rules>
    </decisions>
    <decisions>
        <name>WithinTermTime</name>
        <label>Within Term Time</label>
        <locationX>1943</locationX>
        <locationY>581</locationY>
        <defaultConnector>
            <targetReference>Increment_Sessions</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>WithinATerm</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>IsDateWithinAutumnTerm</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsDateWithinSpringTerm</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsDateWithinSummerTerm</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Session_In_Half_Term</targetReference>
            </connector>
            <label>Within a term</label>
        </rules>
    </decisions>
    <description>Create a session per Tutor</description>
    <dynamicChoiceSets>
        <name>CohortPupilEngagments</name>
        <dataType>String</dataType>
        <displayField>ContactName__c</displayField>
        <filters>
            <field>Cohort__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CohortID</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EngagementPupilRecordTypeId</elementReference>
            </value>
        </filters>
        <limit>20</limit>
        <object>Engagement__c</object>
        <sortField>ContactName__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PupilsinCohort</name>
        <dataType>String</dataType>
        <displayField>ContactName__c</displayField>
        <filters>
            <field>Cohort__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CohortID</elementReference>
            </value>
        </filters>
        <filters>
            <field>PupilsTutor__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Engagement__c</object>
        <outputAssignments>
            <assignToReference>CurrentPupilName</assignToReference>
            <field>ContactName__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PupilsTutorID</assignToReference>
            <field>PupilsTutor__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>TutorEmail</assignToReference>
            <field>TutorEmail__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CurrentTutorName</assignToReference>
            <field>TutorsName__c</field>
        </outputAssignments>
        <sortField>ContactName__c</sortField>
        <sortOrder>Desc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SessionTypeChoiceSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SessionType__c</picklistField>
        <picklistObject>Session__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>Add7or14days</name>
        <dataType>Date</dataType>
        <expression>IF(
{!Session_Frequency}={!Weekly},
({!FirstSessionDate}+7),
({!FirstSessionDate}+14)
)</expression>
    </formulas>
    <formulas>
        <name>GetStartTimeValue</name>
        <dataType>String</dataType>
        <expression>MID(TEXT({!SessionDateVar}),12,5)</expression>
    </formulas>
    <formulas>
        <name>HasCohortInfo</name>
        <dataType>Boolean</dataType>
        <expression>NOT(ISBLANK({!AutumnStart})) &amp;&amp; NOT(ISBLANK({!AutumnHalfStart})) &amp;&amp; NOT(ISBLANK({!AutumnHalfEnd})) &amp;&amp; NOT(ISBLANK({!AutumnEnd})) &amp;&amp; NOT(ISBLANK({!SpringStart})) &amp;&amp; NOT(ISBLANK({!SpringHalfStart})) &amp;&amp; NOT(ISBLANK({!SpringHalfEnd})) &amp;&amp; NOT(ISBLANK({!SpringEnd})) &amp;&amp; NOT(ISBLANK({!SummerStart})) &amp;&amp; NOT(ISBLANK({!SummerHalfStart})) &amp;&amp; NOT(ISBLANK({!SummerHalfEnd})) &amp;&amp; NOT(ISBLANK({!SummerEnd}))</expression>
    </formulas>
    <formulas>
        <name>IsDateAutumnHalf</name>
        <dataType>Boolean</dataType>
        <expression>{!FirstSessionDate} &gt;= {!AutumnHalfStart} &amp;&amp; {!FirstSessionDate} &lt;= {!AutumnHalfEnd}</expression>
    </formulas>
    <formulas>
        <name>IsDateBeyondSummerEndTerm</name>
        <dataType>Boolean</dataType>
        <expression>{!FirstSessionDate} &gt; {!SummerEnd}</expression>
    </formulas>
    <formulas>
        <name>IsDateSpringHalf</name>
        <dataType>Boolean</dataType>
        <expression>{!FirstSessionDate} &gt;= {!SpringHalfStart} &amp;&amp; {!FirstSessionDate} &lt;= {!SpringHalfEnd}</expression>
    </formulas>
    <formulas>
        <name>IsDateSummerHalf</name>
        <dataType>Boolean</dataType>
        <expression>{!FirstSessionDate} &gt;= {!SummerHalfStart} &amp;&amp; {!FirstSessionDate} &lt;= {!SummerHalfEnd}</expression>
    </formulas>
    <formulas>
        <name>IsDateWithinAutumnTerm</name>
        <dataType>Boolean</dataType>
        <expression>AND({!FirstSessionDate} &gt;= {!AutumnStart}, {!FirstSessionDate} &lt;= {!AutumnEnd})</expression>
    </formulas>
    <formulas>
        <name>IsDateWithinSpringTerm</name>
        <dataType>Boolean</dataType>
        <expression>AND({!FirstSessionDate} &gt;= {!SpringStart}, {!FirstSessionDate} &lt;= {!SpringEnd}, OR({!FirstSessionDate} &lt; {!SpringHalfStart},{!FirstSessionDate} &gt; {!SpringHalfEnd}))</expression>
    </formulas>
    <formulas>
        <name>IsDateWithinSummerTerm</name>
        <dataType>Boolean</dataType>
        <expression>{!FirstSessionDate} &gt;= {!SummerStart} &amp;&amp; {!FirstSessionDate} &lt;= {!SummerEnd}</expression>
    </formulas>
    <formulas>
        <name>PupilsAttendanceName</name>
        <dataType>String</dataType>
        <expression>{!YPEngagementLoopItem.ContactName__c} &amp; &quot; &quot; &amp; TEXT({!SessionLoopItem.SessionDate__c})</expression>
    </formulas>
    <formulas>
        <name>SessionDateDateVar</name>
        <dataType>Date</dataType>
        <expression>{!SessionDateVar}</expression>
    </formulas>
    <formulas>
        <name>SessionEndDateTimeCalc</name>
        <dataType>DateTime</dataType>
        <expression>{!SessionStartTime} + ({!Length_of_Sessions_Hours}/24)</expression>
    </formulas>
    <formulas>
        <name>StartDateTimePlus7</name>
        <dataType>DateTime</dataType>
        <expression>IF({!Session_Frequency}={!Weekly}, ({!SessionStartTime} + (168/24)),({!SessionStartTime} + (168/12)))</expression>
    </formulas>
    <formulas>
        <name>TutorAttendanceName</name>
        <dataType>String</dataType>
        <expression>{!YPEngagementLoopItem.PupilsTutor__r.TutorsName__c} &amp; &quot; &quot; &amp; TEXT({!SessionLoopItem.SessionDate__c})</expression>
    </formulas>
    <interviewLabel>Session Group Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Session Group Creation</label>
    <loops>
        <name>Loop_Through_Sessions_created</name>
        <label>Loop Through Sessions created</label>
        <locationX>2148</locationX>
        <locationY>191</locationY>
        <assignNextValueToReference>SessionLoopItem</assignNextValueToReference>
        <collectionReference>SessionsToCreate</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>LoopCount2</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>ExitScreen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_YPs</name>
        <label>Loop Through YPs</label>
        <locationX>2478</locationX>
        <locationY>409</locationY>
        <assignNextValueToReference>YPEngagementLoopItem</assignNextValueToReference>
        <collectionReference>AllSelectedYPRecordVariable</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Loop_Count_Decison</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>LoopTutors2</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Tutors</name>
        <label>Loop Tutors</label>
        <locationX>1628</locationX>
        <locationY>177</locationY>
        <collectionReference>AddedTutorIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_First_Session_Date_End_Time</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Sessions</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopTutors2</name>
        <label>Loop Tutors 2</label>
        <locationX>2250</locationX>
        <locationY>450</locationY>
        <collectionReference>AddedTutorIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Current_Session_Current_Tutors</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Through_Sessions_created</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Attendances</name>
        <label>Create Attendances</label>
        <locationX>2873</locationX>
        <locationY>575</locationY>
        <assignRecordIdToReference>AttendanceRecord.Id</assignRecordIdToReference>
        <connector>
            <targetReference>No_tutor_Attendance</targetReference>
        </connector>
        <inputAssignments>
            <field>Engagement__c</field>
            <value>
                <elementReference>YPEngagementLoopItem.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>PupilsAttendanceName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SessionDateDate__c</field>
            <value>
                <elementReference>SessionLoopItem.SessionDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SessionLengthhours__c</field>
            <value>
                <elementReference>Length_of_Sessions_Hours</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Session__c</field>
            <value>
                <elementReference>SessionLoopItem.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TutorEmail__c</field>
            <value>
                <elementReference>YPEngagementLoopItem.TutorEmail__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tutor__c</field>
            <value>
                <elementReference>YPEngagementLoopItem.PupilsTutor__c</elementReference>
            </value>
        </inputAssignments>
        <object>Attendance__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Sessions</name>
        <label>Create Sessions</label>
        <locationX>2044</locationX>
        <locationY>353</locationY>
        <connector>
            <targetReference>Loop_Through_Sessions_created</targetReference>
        </connector>
        <inputReference>SessionsToCreate</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Tutor_Attendances</name>
        <label>Create Tutor Attendances</label>
        <locationX>2871</locationX>
        <locationY>185</locationY>
        <connector>
            <targetReference>Tutor_Attendance_Created</targetReference>
        </connector>
        <inputAssignments>
            <field>ContactPayRate__c</field>
            <value>
                <elementReference>YPEngagementLoopItem.PupilsTutor__r.ContactTimeHourlyPayRate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Engagement__c</field>
            <value>
                <elementReference>YPEngagementLoopItem.PupilsTutor__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>TutorAttendanceName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NonContactHoursPayRate__c</field>
            <value>
                <elementReference>YPEngagementLoopItem.PupilsTutor__r.NonContactHourlyPayRate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NonContactTimehours__c</field>
            <value>
                <elementReference>YPEngagementLoopItem.PupilsTutor__r.NonContactTimePerSessionhours__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>TutorAttendanceRecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SchoolChargePerTutoringHour__c</field>
            <value>
                <elementReference>SchoolChargePerHour</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SessionDateDate__c</field>
            <value>
                <elementReference>SessionLoopItem.SessionDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SessionLengthhours__c</field>
            <value>
                <elementReference>Length_of_Sessions_Hours</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Session__c</field>
            <value>
                <elementReference>SessionLoopItem.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TutorEmail__c</field>
            <value>
                <elementReference>YPEngagementLoopItem.TutorEmail__c</elementReference>
            </value>
        </inputAssignments>
        <object>Attendance__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Cohort</name>
        <label>Get Cohort</label>
        <locationX>176</locationX>
        <locationY>238</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetPupilRecordTypeId</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CohortID</elementReference>
            </value>
        </filters>
        <object>Cohort__c</object>
        <outputAssignments>
            <assignToReference>AutumnHalfEnd</assignToReference>
            <field>AutumnHalfTermEnd__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>AutumnHalfStart</assignToReference>
            <field>AutumnHalfTermStart__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>AutumnEnd</assignToReference>
            <field>AutumnTermEnd__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>AutumnStart</assignToReference>
            <field>AutumnTermStart__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SchoolChargePerHour</assignToReference>
            <field>SchoolChargePerTutoringHour__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SpringHalfEnd</assignToReference>
            <field>SpringHalfTermEnd__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SpringHalfStart</assignToReference>
            <field>SpringHalfTermStart__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SpringEnd</assignToReference>
            <field>SpringTermEnd__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SpringStart</assignToReference>
            <field>SpringTermStart__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SummerHalfEnd</assignToReference>
            <field>SummerHalfTermEnd__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SummerHalfStart</assignToReference>
            <field>SummerHalfTermStart__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SummerEnd</assignToReference>
            <field>SummerTermEnd__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SummerStart</assignToReference>
            <field>SummerTermStart__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetPupilRecordTypeId</name>
        <label>Get Pupil Record Type Id</label>
        <locationX>174</locationX>
        <locationY>376</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetPupilRecordTypeId_0</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Pupil</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Engagement__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>EngagementPupilRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetPupilRecordTypeId_0</name>
        <label>Get Tutor Record Type Id</label>
        <locationX>174</locationX>
        <locationY>535</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CohortTermDates</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Tutor</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Attendance__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>TutorAttendanceRecordTypeID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_All_Selected_YPs</name>
        <label>Lookup Selected YP</label>
        <locationX>1167</locationX>
        <locationY>272</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_to_Record_Collection_Variable</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentPupilID</elementReference>
            </value>
        </filters>
        <object>Engagement__c</object>
        <outputReference>CurrentYPRecordVariable</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>PupilsTutor__c</queriedFields>
        <queriedFields>TutorEmail__c</queriedFields>
        <queriedFields>ContactName__c</queriedFields>
        <queriedFields>Pupil__c</queriedFields>
    </recordLookups>
    <screens>
        <name>Assign_Pupils_to_Sessions</name>
        <label>Assign Pupils to Sessions</label>
        <locationX>681</locationX>
        <locationY>121</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Reselected_Pupil</targetReference>
        </connector>
        <fields>
            <name>SelectPupils</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Select the Pupils you&apos;d like to enrol&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;By selecting a Pupil below you will be creating an Attendance record for the selected pupil and their tutor related to every session record you have created.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Select_Pupil</name>
            <choiceReferences>PupilsinCohort</choiceReferences>
            <choiceReferences>NoFurtherPupils</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>NoFurtherPupils</defaultSelectedChoiceReference>
            <fieldText>Select Pupil</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Showwhoselected</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Selected Pupils:&lt;/b&gt; {!PupilNames}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Selected Tutors: &lt;/b&gt;{!TutorNames}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error</name>
        <label>Error</label>
        <locationX>410</locationX>
        <locationY>574</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DatesMissingMessage</name>
            <fieldText>&lt;p&gt;It seems the Term Dates for this Cohort are not fully populated, please ensure Term Dates are fully populated on this Cohort before creating any sessions. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ExitScreen</name>
        <label>Exit Screen</label>
        <locationX>2149</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ExitText</name>
            <fieldText>&lt;p&gt;Sessions have now been created. Please review in the &apos;Related&apos; tab. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>New_Session_Group</name>
        <label>New Session Group</label>
        <locationX>486</locationX>
        <locationY>199</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Pupils_to_Sessions</targetReference>
        </connector>
        <fields>
            <name>Intro</name>
            <fieldText>&lt;p&gt;This process will automate the creation of sessions for a group of Pupils and Tutors on a particular day at a particular time.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;If you wish to create further sessions within this Cohort at other days and times, or different groupings of Pupils, please complete for one group first and create the next group separately.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;You will be able to manually edit the created records at the end if, for example, one day in particular needs to be at a different date or time to the others.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SessionDateVar</name>
            <dataType>DateTime</dataType>
            <fieldText>First Session Date and Time</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;You cannot schedule a session to begin after the Summer Holidays have started&lt;/p&gt;</errorMessage>
                <formulaExpression>DATEVALUE({!SessionDateVar}) &lt; {!SummerEnd}</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Session_Frequency</name>
            <choiceReferences>Weekly</choiceReferences>
            <choiceReferences>Fortnightly</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Session Frequency</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Length_of_Sessions_Hours</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>1.0</numberValue>
            </defaultValue>
            <fieldText>Length of Sessions (Hours)</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Input as a decimal e.g:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;30m = 0.5&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;1h15m = 1.25&lt;/span&gt;&lt;/p&gt;&lt;p&gt;1h30m = 1.5&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
            <scale>2</scale>
            <validationRule>
                <errorMessage>&lt;p&gt;A session cannot be longer than 3 hours&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Length_of_Sessions_Hours} &lt; 3</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>NumberOfSessions</name>
            <dataType>Number</dataType>
            <fieldText>Number of Sessions</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;The sessions will be scheduled on the same day every week, skipping school holidays&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <validationRule>
                <errorMessage>&lt;p&gt;Number of Sessions cannot exceed weeks in the School Year (39)&lt;/p&gt;</errorMessage>
                <formulaExpression>{!NumberOfSessions} &lt;= 39</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Type</name>
            <choiceReferences>SessionTypeChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>PauseScreen</name>
        <label>Pause Screen</label>
        <locationX>2509</locationX>
        <locationY>799</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>LoopCountReset</targetReference>
        </connector>
        <fields>
            <name>ContinueDisplay</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Pause Screen&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please click &apos;Next&apos; to continue creating the Session and Attendance records, when creating a large number of records sometimes Salesforce needs a breather!&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;You may need to do this multiple times depending on the number you are creating. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>103</locationY>
        <connector>
            <targetReference>Get_Cohort</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AddedTutorIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AllSelectedYPRecordVariable</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Engagement__c</objectType>
    </variables>
    <variables>
        <name>AttendanceRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Attendance__c</objectType>
    </variables>
    <variables>
        <name>AttendanceRecordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AutumnEnd</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AutumnHalfEnd</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AutumnHalfStart</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AutumnStart</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CohortID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CohortPupilEngagements</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CurrentPupilID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CurrentPupilName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CurrentSession</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Session__c</objectType>
    </variables>
    <variables>
        <name>CurrentTutorName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CurrentYPRecordVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Engagement__c</objectType>
    </variables>
    <variables>
        <name>EngagementPupilRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FirstSessionDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoopCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>PupilAttendanceName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PupilNames</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PupilsTutorID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SchoolChargePerHour</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>SelectedPupilIDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SessionEndTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SessionID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SessionLoopItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Session__c</objectType>
    </variables>
    <variables>
        <name>SessionNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>SessionStartTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SessionStartTimeTime</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SessionsToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Session__c</objectType>
    </variables>
    <variables>
        <name>SpringEnd</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SpringHalfEnd</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SpringHalfStart</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SpringStart</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SummerEnd</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SummerHalfEnd</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SummerHalfStart</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SummerStart</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TutorAttendanceCreated</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TutorAttendanceRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Attendance__c</objectType>
    </variables>
    <variables>
        <name>TutorAttendanceRecordTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TutorEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TutorNames</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>YPEngagementLoopItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Engagement__c</objectType>
    </variables>
</Flow>
