dist/flows/Update_Future_Tutor_Attendances.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>CountLoop</name>
        <label>CountLoop</label>
        <locationX>847</locationX>
        <locationY>324</locationY>
        <assignmentItems>
            <assignToReference>LoopCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Pupil_Attendances</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ResetLoopCount</name>
        <label>ResetLoopCount</label>
        <locationX>1057</locationX>
        <locationY>544</locationY>
        <assignmentItems>
            <assignToReference>LoopCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Session_Tutor</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>X20Decision</name>
        <label>&gt;20</label>
        <locationX>1020</locationX>
        <locationY>332</locationY>
        <defaultConnector>
            <targetReference>Update_Session_Tutor</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X10Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>10.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pause</targetReference>
            </connector>
            <label>&gt;10</label>
        </rules>
    </decisions>
    <description>Using end date instead of register completed date. Unticks &apos;confirm tutor change&apos;.</description>
    <formulas>
        <name>Now</name>
        <dataType>DateTime</dataType>
        <expression>Now()</expression>
    </formulas>
    <formulas>
        <name>Today</name>
        <dataType>Date</dataType>
        <expression>Today()</expression>
    </formulas>
    <interviewLabel>Update Future Tutor Attendances {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Permanent Tutor Change</label>
    <loops>
        <name>Loop_Pupil_Attendances</name>
        <label>Loop Pupil Attendances</label>
        <locationX>637</locationX>
        <locationY>191</locationY>
        <assignNextValueToReference>CurrentPupilAttendance</assignNextValueToReference>
        <collectionReference>Get_Future_Attendances</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Tutor_Attendance</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Pupils_Tutor</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Engagement</name>
        <label>Get Pupil Engagement</label>
        <locationX>182</locationX>
        <locationY>191</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Tutor_Engagement</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EngagementId</elementReference>
            </value>
        </filters>
        <object>Engagement__c</object>
        <outputAssignments>
            <assignToReference>CohortId</assignToReference>
            <field>Cohort__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Future_Attendances</name>
        <label>Get Future Pupil Attendances</label>
        <locationX>478</locationX>
        <locationY>191</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Pupil_Attendances</targetReference>
        </connector>
        <filters>
            <field>CohortId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CohortId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Engagement__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EngagementId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pupil</stringValue>
            </value>
        </filters>
        <filters>
            <field>SessionDate__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Tutor__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PreviousTutorId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Attendance__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Tutor_Engagement</name>
        <label>Get Tutor Engagement</label>
        <locationX>326</locationX>
        <locationY>191</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Future_Attendances</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NewTutorId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Engagement__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Pupils_Tutor</name>
        <label>Update Pupil&apos;s Tutor</label>
        <locationX>636</locationX>
        <locationY>440</locationY>
        <connector>
            <targetReference>Update_Reassignment_Date</targetReference>
        </connector>
        <filters>
            <field>CohortId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CohortId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Engagement__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EngagementId</elementReference>
            </value>
        </filters>
        <filters>
            <field>SessionDate__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Tutor__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PreviousTutorId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Tutor__c</field>
            <value>
                <elementReference>NewTutorId</elementReference>
            </value>
        </inputAssignments>
        <object>Attendance__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Reassignment_Date</name>
        <label>Update Reassignment Date</label>
        <locationX>479</locationX>
        <locationY>440</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EngagementId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AttendancesReassigned__c</field>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ConfirmTutorChange__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Engagement__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Session_Tutor</name>
        <label>Update Session Tutor</label>
        <locationX>927</locationX>
        <locationY>543</locationY>
        <connector>
            <targetReference>CountLoop</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentPupilAttendance.Session__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Tutor__c</field>
            <value>
                <elementReference>NewTutorId</elementReference>
            </value>
        </inputAssignments>
        <object>Session__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Tutor_Attendance</name>
        <label>Update Tutor Attendance</label>
        <locationX>1027</locationX>
        <locationY>178</locationY>
        <connector>
            <targetReference>X20Decision</targetReference>
        </connector>
        <filters>
            <field>Engagement__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PreviousTutorId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Tutor</stringValue>
            </value>
        </filters>
        <filters>
            <field>Session__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentPupilAttendance.Session__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ContactPayRate__c</field>
            <value>
                <elementReference>Get_Tutor_Engagement.ContactTimeHourlyPayRate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Engagement__c</field>
            <value>
                <elementReference>NewTutorId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NonContactHoursPayRate__c</field>
            <value>
                <elementReference>Get_Tutor_Engagement.NonContactHourlyPayRate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TutorChangeDate__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>Attendance__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Engagement</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CohortId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CurrentPupilAttendance</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Attendance__c</objectType>
    </variables>
    <variables>
        <name>CurrentTutorAttendance</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Attendance__c</objectType>
    </variables>
    <variables>
        <name>EngagementId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FuturePupilAttendances</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Attendance__c</objectType>
    </variables>
    <variables>
        <name>FutureTutorAttendances</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Attendance__c</objectType>
    </variables>
    <variables>
        <name>LoopCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>NewTutorId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PreviousTutorId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TutorEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <waits>
        <name>Pause</name>
        <label>Pause</label>
        <locationX>1251</locationX>
        <locationY>448</locationY>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <name>Resume</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>ResetLoopCount</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>$Flow.CurrentDateTime</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Hours</stringValue>
                </value>
            </inputParameters>
            <label>Resume</label>
        </waitEvents>
    </waits>
</Flow>
